<%= javascript_include_tag 'animations.js', 'data-turbolinks-track': 'reload' %>

<!-- Seccion de skills -->

<section id="skill_sec">

  <div class="container">

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
        <div class="title_sec">
          <h1>Nuestras habilidades</h1>
          <h2>Poseemos una amplia gama de conocimientos disponibles para nuestros clientes</h2>
        </div>
      </div>

      <div class="skills progress-bar1">

        <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">

          <li class="progress">
            <div class="progress-bar" data-width="<%= @node.javascript %>">
              JavaScript <strong><%= @node.javascript %>%</strong>
            </div>
          </li>

          <li class="progress">
            <div class="progress-bar" data-width="<%= @node.php %>">
              Web PHP <strong> <%= @node.php %>%</strong>
            </div>
          </li>
          <li class="progress">
            <div class="progress-bar" data-width="<%= @node.html5 %>">
              HTML5 <strong> <%= @node.html5 %>% </strong>
            </div>
          </li>
          <li class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @node.css %>%;">
              CSS <strong> <%= @node.css %>%</strong>
            </div>
          </li>
          <li class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @node.ruby %>%;">
              Ruby on Rails <strong> <%= @node.ruby %>% </strong>
            </div>
          </li>
        </ul>

        <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">

          <li class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @node.disenoGrafico %>%;">
              Diseño Gráfico <strong><%= @node.disenoGrafico %>%</strong>
            </div>
          </li>

          <li class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @node.marketing %>%;">
              Marketing y SEO <strong> <%= @node.marketing %>%</strong>
            </div>
          </li>
          <li class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @node.html5 %>%;">
              HTML5 <strong> <%= @node.html5 %>% </strong>
            </div>
          </li>
          <li class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @node.css %>%;">
              CSS <strong> <%= @node.css %>%</strong>
            </div>
          </li>
          <li class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @node.ruby %>%;">
              Ruby on Rails <strong> <%= @node.ruby %>% </strong>
            </div>
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>

<!-- Seccion de counters -->

<section id="counting_sec">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="counting_sl">
          <i class="fa fa-user"></i>
          <h2 class="counter"><%=	@node.clientes  %></h2>
          <h4>Clientes Satisfechos</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="counting_sl">
          <i class="fa fa-desktop"></i>
          <h2 class="counter"><%=	 @node.proyectos %></h2>
          <h4>Proyectos Completados</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="counting_sl">
          <i class="fa fa-ticket"></i>
          <h2 class="counter"><%=	 @node.tickets %></h2>
          <h4>Tickets Respondidos</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="counting_sl">
          <i class="fa fa-clock-o"></i>
          <h2 class="counter"><%= @node.horas %></h2>
          <h4>Horas de Desarrollo</h4>
        </div>
      </div>
    </div>
  </div>
</section>